<h1> Listing authors </h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Homepage</th>
    <th>Name</th>
  </tr>

  <% @authors.each do |author| %>
    <tr>
      <td><%= author.first_name %></td>
      <td><%= author.last_name %></td>
      <td><%= author.homepage %></td>
      <td><%= author.name %></td>
    </tr>
  <% end %>
</table>

<a href="/authors/new">Add author</a>
