<p>
  <strong>First name:</strong>
  <%= @author.author_first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @author.author_last_name %>
</p>

<p>
  <strong>Homepage:</strong>
 <%= @author.author_homepage %>
</p>
