<h1>Listing papers</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Venue</th>
    <th>Year</th>
  </tr>

  <% @papers.each do |paper| %>
    <tr>
	<td><%= paper.title %></td>
	<td><%= paper.venue %></td>
	<td><%= paper.year %></td>
    </tr>
  <% end %>
</table>
